/* styles.css */

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}

/* Стили для анимации */
.anagram-letter {
    width: 50px; /* Устанавливайте размеры в соответствии с вашими изображениями */
    height: 50px; /* Устанавливайте размеры в соответствии с вашими изображениями */
}

.anagram-letter-container {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.anagram-letter-container.show {
    opacity: 1;
    transform: translateY(0);
}

/* Стили для изменения цвета текста в зависимости от результата */
.correct {
    color: green;
}

.incorrect {
    color: red;
}
